ion-modal-view
  ion-header-bar
    h1.title Fullview
    .buttons
      button.button.button-clear(ng-click='fullviewModal.hide()') Close

  ion-scroll(ng-click="toggleFit()" direction="xy" locking="false" zooming="true")
    img.fullview(src="{{fullview}}" ng-class="{ fit: fit }")
