ion-view(view-title='Playlists')
  ion-content
    form(ng-submit="load(form.subreddit)")
      .list
        .item.item-input-inset
            label.item-input-wrapper
              input(type="text" placeholder="Email" ng-model="form.subreddit")
            button.button.button-small Submit
    list
      .item(ng-repeat="item in items")
        img(ng-src="{{item.data.thumbnail}}")

    ion-infinite-scroll(icon="ion-loading-c" on-infinite="loadMore(form.subreddit)")
